
      <!-- INíCIO do CONTEÚDO -->
      <section class="content-header">
        <h1>
          Todos os Restaurantes
          <a (click)="toggleSearch()" class="search-link pull-right">
              <span *ngIf="iptSearch.value"> <small>"{{iptSearch.value}}" </small></span> <i class="fa fa-search"> </i>  </a>
        </h1>

      <!-- BARRA DE BUSCA -->
        <div class="row">
            <div class="col-xs-12 search-bar" [@toggleSearch]="searchBarState"> <!-- classe do bootstrap que diz que ele vai ficar com 12 coluna-->
              <form [formGroup]="searchForm">
                <div class="form-group"> <!-- form-group é uma classe do bootstrap -->
                    <input type="text" #iptSearch formControlName="searchControl"                                             
                           class="form-control" placeholder="O que você está procurando?"> <!-- form-control também  é uma classe do bootstrap -->
                                  <!--#iptSearch é uma template variable que serve como referencia -->
                          </div>

              </form>

            </div>

        </div>

      </section>


      <section class="content">

        <div class="row">
                <div *ngFor="let restaurant of restaurants"  class="col-sm-6 col-xs-12"> 
                  <!-- Essa é a div que delimita o espaço do meu array-->
                  <mt-restaurant [restaurant]="restaurant"></mt-restaurant>

                </div>

        </div>

      </section>

      <!-- FIM  do CONTEÚDO -->
